@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #0000FF;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.5rem;
}
main{
    width: 600px;
    margin: 10px auto;
}
h1{
    color: var(--primaryColor)
}
h1 svg{
    width: 60px;
    fill: var(--primaryColor);
    vertical-align: -20px;
    padding: 0 10px;
}

#buttons{
    text-align: right;
}
#info{
    color: var(--primaryColor);

}
button{
    background: rgba(255,255,255, .2);
    border: 0;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
div.word{
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin: 0 5px;
}
div#game{
    position: relative;
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    border: none;
}
#game:focus #words{
    filter: blur(0);
}
#words{
    filter: blur(5px);
    color: var(--textSecondary);
    border: none;
}
#focus-error{
    position: absolute;
    inset: 0;
    text-align: center;
    margin-top: 35px;
}

#game:focus #focus-error{
    display: none;
}
.letter.correct{
    color: #fff;
}
.letter.incorrect{
    color: #f55;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 260px;
    left: 650px;
    animation: blink 1s infinite;
}

#game:focus #cursor {
    display: block;
}

div#game:focus{
    outline: 0;
}





#header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--bgColor);
    padding: 20px 10px;
}

.bar{
    margin: 0 10px;
}

.options{
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10px;
}

.option-element{
    font-size: 20px;
    margin: 10px 10px;
}